* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Montserrat', sans-serif;
}

.box {
    width: 1200px;
    margin: auto;
}

/* header */

header {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    /* background-color: #883030; */
    
}

header img {
    height: 70px;
    /* errore di render, ma volendo... */
    border-right: 1px solid black;
    padding-right: 20px;
    margin-bottom: 40px;
}

header ul li {
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;
}

.name a {
    text-decoration: none;
    color: #969696;
}

/* big */

.big {
    margin: auto;
    margin-bottom: 20px;
    background-image: url('file:///Users/matteomeneguzzi/Boolean%20/htmlcss-wp%20/img/banner.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

}

.big .big-text {
    padding: 320px 555px 65px 50px;
    background-color:  rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #ffffff;
}

.big .big-text div {
    font-size: 30px;
    font-weight: 500;
}

.big .big-text p {
    font-weight: 300;
}

/* grid */

.grid {
    margin: auto;
    margin-bottom: 10px;
    height: 700px;
}

.grid header{
    font-family: sans-serif;
    font-size: 25px;
}

.grid header p{
    font-size: 20px;
}

/* columns */

.container .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

aside.aside-left {
    float: left;
    margin-right: 2%;
    width: 18%;
}

aside .image,
.main-content .image {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

.left {
    background-image: url('file:///Users/matteomeneguzzi/Boolean%20/htmlcss-wp%20/img/img-1.jpg');
}

.center {
    background-image: url('file:///Users/matteomeneguzzi/Boolean%20/htmlcss-wp%20/img/img-2.jpg');
}

.right {
    background-image: url('file:///Users/matteomeneguzzi/Boolean%20/htmlcss-wp%20/img/img-3.jpg');
}

.layer {
    background-color:  rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 205px;
}

.container .main-content{
    float: left;
    height: 560px;
    width: 60%;
}

aside.aside-right {
    float: left;
    margin-left: 2%;
    width: 18%;
}

aside h4,
.main-content h4 {
   margin-bottom: 15px;
}

aside p,
.main-content p {
    color: #969696;
}
/* footer */

footer {
    margin: auto;
    margin-bottom: 20px;
    padding: 50px 500px 0;
}

footer .heart {
    display: inline-block;
    color: red;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}